<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>template</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="main">
        <nav id="navbar">
            <div class="arch">
                <p><h4>BR</h4>Architechs</p>
            </div>
            <div class="head">
                <li>Projects</li>
                <li>About</li>
                <li>Contact</li>
            </div>
        </nav>
        <div class="middle">
            <p><h1>BR</h1>Architechs</p>
        </div>
    </div>
    <div class="projects">
        <h1>Projects</h1>
        <div id="pic1" class="pic">
            <img src="https://images.unsplash.com/photo-1568605114967-8130f3a36994?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="">
            <img src="https://www.w3schools.com/w3images/house2.jpg" alt="">
            <img src="https://www.w3schools.com/w3images/house3.jpg" alt="">
            <img src="https://www.w3schools.com/w3images/house4.jpg" alt="">
        </div>
        <div id="pic2" class="pic">
            <img src="https://www.w3schools.com/w3images/house5.jpg" alt="">
            <img src="https://images.unsplash.com/photo-1570129477492-45c003edd2be?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="">
            <img src="https://images.unsplash.com/photo-1600585154340-be6161a56a0c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="">
            <img src="https://images.unsplash.com/photo-1572120360610-d971b9d7767c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="">
        </div>
    </div>
    <div class="about">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, ut totam quasi commodi distinctio, temporibus sed iure unde quisquam, cum asperiores eveniet labore nisi voluptates quaerat amet odio hic dignissimos!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia nihil et necessitatibus impedit quibusdam? Eos sapiente iusto sunt quam repellendus, distinctio ex omnis possimus, ut officiis necessitatibus! Exercitationem, ea numquam!</p>
        <div class="display">
            <div class="person1">
                <img src="https://www.w3schools.com/w3images/team2.jpg" alt="" >
                <h2>John Doe</h2>
                <h3>CEO & Founder</h3>
                <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
                <button>contact</button>
            </div>
            <div class="person2">
                <img src="https://www.w3schools.com/w3images/team1.jpg" alt="">
                <h2>Jane Doe</h2>
                <h3>Architect</h3>
                <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
                <button>contact</button>
            </div>
            <div class="person3">
                <img src="https://www.w3schools.com/w3images/team3.jpg" alt="">
                <h2>Mike Ross</h2>
                <h3>Architect</h3>
                <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
                <button>contact</button>
    
            </div>
            <div class="person4">
                <img src="https://www.w3schools.com/w3images/team4.jpg" alt="">
                <h2>Dan Star</h2>
                <h3>Architect</h3>
                <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
                <button>contact</button>
            </div>
        </div>
    </div>
    <div class="contact">
        <h1>Contact</h1>
        <p>Lets get in touch and talk about your next project.</p>
        <input type="text" placeholder="Name">
        <input type="email" name="" id="" placeholder="Email">
        <input type="text" placeholder="Subject">
        <input type="text" placeholder="Comment">
        <button>Send Message</button>
    </div>
    <div class="map">
        <img src="https://www.w3schools.com/w3images/map.jpg" alt="">
    </div>
</body>
</html>