*{
        /* color: #f35353; */
        /* background-color: white; */
}
#id{
    width: 50%;
    height: 100px;
    background-color: royalblue;
}
.cls{
    width: 70px;
    height: 50px;
    background-color: crimson;
}
ul>li{
    color: aquamarine;
}
ol li{
    background-color: red;
}